* {
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    height: 10%;
    font-size: 21px;
}

.alert-success {
    background-color: greenyellow;
    color: black;
}

.alert-error {
    background-color: red;
    color: black;
}

.form-container {
    margin-top: 50px;
}

.tabella {
    width: 80%;
}

table {
    width: 100%;
    border: 2px solid wheat;
    border-collapse: collapse;
}

table tr,
table th, 
table td {
    border: 2px solid black;
    text-align: center;
    padding: 15px 15px;
    color: wheat;
}

table th {
    text-transform: uppercase;
}