{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}


    {% if libri_disponibili %}
        <div class="tabella">
            <table>
                <tr>
                    <th>Autore</th>
                    <th>Titolo</th>
                    <th>Genere</th>
                    <th>Disponibili</th>
                </tr>
                {% for libro in libri_disponibili %}
                    <tr>
                        <td>{{ libro.get("autore") }}</td>
                        <td>{{ libro.get("titolo") }}</td>
                        <td>{{ libro.get("genere") }}</td>
                        <td>{{ libro.get("totale_libri") }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h1>Nessun libro presente in biblioteca</h1>
        </div>
    {% endif %}
        
    <h3>Per effettuare delle operazioni è necessario registrarsi</h3>
    <a style="color: wheat;" href="{{url_for('register')}}">Registrati Ora!</a>
    <h4>Se sei già registrato, accedi.</h4>
    <a style="color: wheat;" href="{{url_for('login')}}">Accedi!</a>

{% endblock content %}

