{% extends 'base.html' %}

{% block title %} Register {% endblock title %}   

{% block content %}

    <!-- sezione per i messaggi flash -->
    {% with messaggi = get_flashed_messages(with_categories=True) %}
        {% if messaggi %}
            {% for i in messaggi %}
                <div class="alert alert-{{ i[0] }}">{{ i[1] }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    

    <!-- sezione per il form di registrazione -->
    <form class="form-container" action="{{url_for('register')}}" method="post">
        
        {{ form.hidden_tag() }}     <!-- genera token di protezione vs CSRF -->
    
        <div class="form-element">{{ form.nome.label }} {{ form.nome }}</div>
        <div class="form-element">{{ form.cognome.label }} {{ form.cognome }}</div>
        <div class="form-element">{{ form.email.label }} {{ form.email }}</div>
        <div class="form-element">{{ form.telefono.label }} {{ form.telefono }}</div>
        <div class="form-element">{{ form.password.label }} {{ form.password }}</div>
        <div class="form-element">{{ form.submit() }}</div>

    </form>

    <a style="color:wheat; margin-top:20px;" href="{{url_for('index')}}">Torna alla Home Page</a>


{% endblock content %}
